# Server Configuration
PORT=3001
NODE_ENV=development

# API Configuration
API_PREFIX=api/v1

# RabbitMQ Configuration
RABBITMQ_URL=amqp://localhost:5672
RABBITMQ_QUEUE=emergency_queue

# CORS Configuration
CORS_ENABLED=true
CORS_ORIGIN=*

# Logging Configuration
LOG_LEVEL=debug 